<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="reservations">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Réservations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historique">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>